@use "../styles/theme.scss";

:local(.content) {
  align-items: center;
  padding: 24px;
  padding-top: 10px;
  text-align: center;

  & lable[class~="InputField__label"] {
    align-self: center !important;
    font-weight: 500;
    font-size: 16px;
    color: theme.$hdfcGray;
    margin: auto;
  }

  & div[class~="TextInput__outer-wrapper"] {
    height: 50px !important;
  }

  & small[class~="InputField__info"] {
    font-weight: 500;
    font-size: 12px;
    color: theme.$hdfcGray
  }
}

:local(.textfield) {
  width: 100%;
  text-align: center;

  small,
  label {
    font-weight: normal;
    margin: auto;
    color: #58595b;
  }

  small {
    padding-top: 5px;
  }

  input {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #000;
  }

}


:local(.avatar-preview-container) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  /* TODO: This styling into AvatarPreview */
  &> :first-child {
    /*
    We need to set dimensions explicitly here, since AvatarPreview
    resizes itself to its container's dimensions.
    */
    width: 168px;
    height: 250px;
    border-radius: 8px;
    background-color: theme.$hdfcCream;
  }

  button {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
  }
}

/* our code */
:local(.changeBtn) {
  background-color: #fff;
  color: theme.$hdfcBlue;
  border-width: 0px;
  border-radius: 8px;
  font-size: 16px;
  height: 50px;
  width: 90%;
  font-weight: 500;
}

:local(.acceptBtn) {
  background-color: theme.$hdfcRed;
  color: #fff;
  border-width: 0px;
  border-radius: 12px;
  font-size: 20px;
  height: 50px;
  padding: 18px 61px 21px;
}