@use "../styles/theme.scss";

:local(.content) {
  padding: 24px 8px;

  button {
    width: 156px;
  }

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding: 24px;
  }
}

:local(.logo-container) {
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}

:local(.room-name) {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin-top: 10px;

  h5 {
    font-size: theme.$font-size-xs;
    color: theme.$grey;
    margin-bottom: 4px;
  }

  p {
    font-size: 20px;
    text-align: center;
    color: theme.$hdfcGray;

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      font-size: 18px;
    }
  }
}

:local(.buttons) {
  width: 100%;
  margin-top: 15px;

  button {
    margin-left: 16px;
    margin-right: 16px;
    width: 85%;
    height: 56px;
    min-height: 56px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    border-width: 0;
    border-color: transparent;
    transition: background-color 0.1s ease-in-out;
    white-space: nowrap;
    padding: 0 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      margin-right: 10px;
    }

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

/* our code */
:local(.enterRoomBtn) {
  color: #fff;
  background-color: theme.$hdfcRed;
  text-transform: uppercase;
  font-size: 18px;

  &:hover {
    box-shadow: 0px 0px 11px 5px rgba(theme.$hdfcRed, .3);
  }
}

:local(.enterVRBtn) {
  color: theme.$hdfcRed;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid theme.$hdfcRed  !important;

  &:hover {
    box-shadow: 0px 0px 11px 5px rgba(theme.$hdfcRed, .3);
  }
}

:local(.howToUse) {
  color: theme.$hdfcRed;
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
}

:local(.enterSpectateBtn) {
  color: theme.$hdfcRed;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid theme.$hdfcRed  !important;

  & svg {

    *[stroke=\#000],
    *[stroke=\black] {
      stroke: theme.$hdfcRed;
    }

    *[fill=\#000] {
      fill: theme.$hdfcRed
    }
  }
}