:local(.topBar) {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  z-index: 200;
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
  z-index: 0;
  & img {
    width: 106px;
    height: 71px;
  }
  &.sidebar {
    width: calc(100% - 450px)
  }
}
:local(.btns) {
  & button {
    border:none;
    background-color: transparent;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}