:local(.topBar) {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  // z-index: 200;
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
  z-index: 0;
  @media (min-width:1024px) {
    padding: 10px 40px;
  }
  & img {
    width: 80px;
      height: 71px;
    @media (min-width:1024px) {
      width: 106px;
      height: 71px;
    }
  }
  &.sidebar {
    width: calc(100% - 450px)
  }
}
:local(.btns) {
  & button {
    border:none;
    background-color: transparent;
    margin-right: 15px;
    width: 40px;
    & .desktop{
      display: none;
    }
    & .mobile{
      display: block;
    }
    @media (min-width:1024px) {
      width: 100px;
      & .desktop{
        display: block !important;
      }
      & .mobile{ 
        display: none !important;
      }
    }
    & svg{
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}