@use "../styles/theme.scss";

:local(.tip) {
  pointer-events: all;
  position: absolute;
  bottom: 100px;
  min-height: 48px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  color: #000;
  align-items: center;
  width: max-content;
  max-width: min(calc(100% - 8px), 70%);
  left: 50%;
  transform: translateX(-50%);

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    bottom: 100px;
    max-width: 360px;
  }
}

:local(.content) {
  margin: 16px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
  line-height: 1.25;
  color: #000;
}

:local(.dismiss-button) {
  background: none;
  height: 32px;
  border-radius: 16px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid theme.$tip-button-color;
  margin-right: 8px;
  margin-bottom: 8px;
  min-width: 48px;
  font-size: theme.$font-size-xs;
  font-weight: theme.$font-weight-bold;
  align-self: flex-end;
  color: #000;

  &:hover {
    border-color: transparent;
    background-color: rgba(theme.$hdfcRed, .5);
  }

  &:active {
    border-color: transparent;
    background-color: rgba(theme.$hdfcRed, .5);
  }
}