@font-face {
  font-family: "SohoGothicPro";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/stylesheets/font/SohoGothicPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SohoGothicPro";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/stylesheets/font/SohoGothicPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SohoGothicPro";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/stylesheets/font/SohoGothicPro-Regular.otf") format("opentype");
}
