/* hp === Home Page */
@use '../styles/theme.scss';

:local(.hpHeaderWrapper) {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 10px 0;
}
:local(.hpHeader) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:local(.hpHeaderLogo) {
  width: 55px;
  & img {
    max-width: 100%;
  }
  @media (min-width: 1024px) {
    width: 80px;
  }
}
:local(.hpTimer) {
  font-size: 14px;
  color: theme.$hdfcBlue;
  & > strong {
    font-size: 14px;
    color: theme.$hdfcRed;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
    & > strong {
      font-size: 18px;
      color: theme.$hdfcRed;
    }
  }
}
:local(.bbbLogoWrapper) {
  width: 100%;
  display: flex;
  justify-content: center;
  & img{
    width: 120px;
  }
  @media (min-width: 1024px) {
    margin-top:-55px;
    & img{
      width: 180px;
    }
  }
}
:local(.hpHeroContent) {
  width: 100%;
  max-width: 950px;
  margin: 40px auto 0;
  text-align: center;
  color: theme.$hdfcBlue;
  font-size: 18px;
  & p {
    font-weight: 100;
    font-family: "SohoGothicPro";
  }
  & span {
    color: theme.$hdfcRed;
    font-weight: 700;
    font-size: 18px;
  }
  @media (min-width: 1024px) {
    font-size: 34px;
    & span {
      font-size: 34px;
    }
  }
}

:local(.hpHeroVideo) {
  width: 100%;
  max-width: 950px;
  margin: 40px auto 0;
  & > p {
    margin-top: 20px;
    color: #58595b;
    font-size: 14px;
    margin: 20px auto 0;
    text-align: center;
    @media (min-width: 1024px) {
      font-size: 18px;
      width: 80%;
    }
  } 
}
:local(.hpHeroVdoWrapper) {
  position: relative;
  padding-top: 56%;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
:local(.hpHeroRegister) {
  display: flex;
  margin-top:20px;
  justify-content: center;
  & a {
    padding: 20px 40px;
    background-color: theme.$hdfcRed;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    &:hover {
      text-decoration: none;
      color: #fff;
      box-shadow: 0px 0px 11px 5px rgba(theme.$hdfcRed, .3);
    }
    @media (min-width:1024px) {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
:local(.hpSectionTitle) {
  font-size: 24px;
  font-weight: bold;
  color: theme.$hdfcBlue;
  text-align: center;
  @media (min-width:1024px) {
    font-size: 30px;
  }
}
:local(.speakerWrapper) {
  margin-top:50px;
  background-color: #f9f9f9;
  padding: 40px 20px;
}
:local(.speakerList) {
  list-style: none;
  width: 100%;
  max-width: 900px;
  margin: 40px auto 0;
  & > li {
    display: flex;
    padding: 24px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 26px;
    position: relative;
    flex-direction: column;
    align-items: center;
    
    &:before{
      content: "";
      position: absolute;
      width: 4px;
      height: 50%;
      background-color: theme.$hdfcRed;
      top:-1px
    }
    .speakerImg {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 10px;
      & img {
        max-width: 100%;
      }
    }
    .speakerIntro {
      flex:1;
      display: flex;
      align-items: center;
      & h3 {
        font-weight: bold;
        font-size: 16px;
        color: theme.$hdfcBlue;
        text-align: center;
      }
      & p {
        font-size: 14px;
        color: #58595b;
        margin-top: 10px;
        text-align: center;
      }
    }
    &:nth-child(odd) {
      &:before{
        left: -1px;
      }
    }
    &:nth-child(even) {
      &:before{
        right: -1px;
      }
      & .speakerIntro {
        // padding-right: 20px;
        // padding-left: 0;
      }
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      .speakerImg {
        width: 190px;
        height: 190px;
        margin-bottom: 0;
      }
      & .speakerIntro {
        padding-left: 20px;
        & h3 {
          font-size: 20px;
        }
        & p {
          font-size: 16px;
        }
      }
      &:nth-child(odd) {
        & .speakerIntro {
          & h3, & p {
            text-align: left;
          }
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        & .speakerIntro {
          padding-right: 20px;
          padding-left: 0;
          & h3, & p {
            text-align: right;
          }
        }
      }
    }
  }
}
:local(.hpEventList) {
  padding-top: 50px;
}
:local(.hpSliders) {
  margin-top: 40px;
}
:local(.hpRulestoParticipate) {
  width: 100%;
  max-width: 700px;
  margin: 40px auto 0;
  & ol {
    list-style: auto;
    margin-top: 40px;
    & li {
      font-size: 18px;
      color: theme.$hdfcGray;
      margin-top: 10px;
    }
  }
}

:local(.footerWrapper) {
  background-color: #231f20;
  padding: 40px 20px;
  margin-top:40px;
  & h2{
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  & p{
    // margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #d1d3d4;
    & a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 50px 40px;
    margin-top:70px;
    & p {
      font-size: 18px;
    }
  }
}

:local(.tabsWrapper) {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

:local(.tabs) {
  list-style: none;
  height: 54px;
  border-radius: 12px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  overflow: hidden;

  & li {
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #58595b;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    @media (min-width: 1024px) {
      font-size: 16px;
      padding: 0 34px;
    }
    &:after {
      content: "";
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(88,89,91,1) 40%, rgba(88,89,91,1) 60%, rgba(255,255,255,0) 100%);
      position: absolute;
      top:0;
      right: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &.active {
      background-color: theme.$hdfcRed;
      color:#fff;
    }
  }
}
:local(.enterBtnWrapper) {
  & > button {
    height: 48px;
    background-color: theme.$hdfcRed;
    color: #fff;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    padding: 0 30px;
  }
}

:local(.selem) {
  padding: 0 20px;
  & img {
    margin-bottom: 15px;
  }
  & span {
    padding-top: 10px;
    display: block;
    text-align: center;
    line-height: 1.5;
  }
}

:local(.sliderWrapper) {
  & .slick-arrow{
    width: 40px;
    height: 40px;
    & svg{
      width: 100%;
    }
  }
  & .slick-next{
    right: 20px;
    &:before{
      display: none;
    }
  }
  & .slick-prev{
    left: 20px;
    z-index: 10;
    &:before{
      display: none;
    }
  }
}